.nav-header {
	width: 100%;
	background-color: grey;
}

.nav-pb-logo{
 	left: 30px;
}

.utility-nav{
	float: right;
	font-family: 'Arial', sans-serif;
	font-size: .8em;
}

.utility-nav a {
	display: block;
	float:right;
	padding: 2px 5px;
	text-decoration: none;
}

.main-nav {
	float: right;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.7em;
}

.main-nav a {
	display: block;
	float: right;
	padding: 20px 10px;
	text-decoration: none;
}

.main-nav a:hover {
	color: ;
}

.hero-paragraph {
	font-style: oblique;
}

.hero-section {
	text-align: right;
	background: rgba(0,0,0,.1);
	background-image: url(../images/summer-eats-2019-banner.png);
	background-size: 100%;
	color: white;
	padding: 50px 5%;
}

.hero-section a {
	display: inline-block;
	color: white;
	text-decoration: none;
	margin: 20px 0 0 0;
	padding: 10px;
	background-color: green;
}

.hero-section a:hover {
	background-color:orange;
}

.hero-section h1 {
	font-size: 2.85em;
	font-family: 'Barlow Condensed', sans-serif;
}

.about-blurb-section {
	text-align: center;
}

.cards-section {
	background: rgba(0,0,0,.2);
}

.twitter-section {
	background: rgba(0,0,0,.1);
}

.stats-section {
	background: rgba(0,0,0,.2);
}

.main-footer {
	background: rgba(0,0,0,.1);
}

.copywrite-footer {
	background: rgba(0,0,0,.2);
}